/*@font-face {*/
/*    font-family: 'jannaltregular';*/
/*    src: url('../fonts/jannalt-regular/jannaltregular.eot');*/
/*    src: url('../fonts/jannalt-regular/jannaltregular.eot') format('embedded-opentype'),*/
/*    url('../fonts/jannalt-regular/jannaltregular.woff2') format('woff2'),*/
/*    url('../fonts/jannalt-regular/jannaltregular.woff') format('woff'),*/
/*    url('../fonts/jannalt-regular/jannaltregular.ttf') format('truetype'),*/
/*    url('../fonts/jannalt-regular/jannaltregular.svg#jannaltregular') format('svg');*/
/*}*/

/*@font-face {*/
/*    font-family: 'jannaltbold';*/
/*    src: url('../fonts/jannalt-bold/jannaltbold.eot');*/
/*    src: url('../fonts/jannalt-bold/jannaltbold.eot') format('embedded-opentype'),*/
/*    url('../fonts/jannalt-bold/jannaltbold.woff2') format('woff2'),*/
/*    url('../fonts/jannalt-bold/jannaltbold.woff') format('woff'),*/
/*    url('../fonts/jannalt-bold/jannaltbold.ttf') format('truetype'),*/
/*    url('../fonts/jannalt-bold/jannaltbold.svg#jannaltbold') format('svg');*/
/*}*/
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Droid Arabic Kufi bold';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}
*
{
  font-family: 'Droid Arabic Kufi';
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Droid Arabic Kufi bold';
}
.search {
  width: 50px;
  height: 30px;
  margin: 8px auto 0;
  background-color: #263238;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  direction: rtl;
  border-radius: 5px;
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #26A69A;
  transition: all 0.5s ease;
}
.search.open {
  width: 420px;
}
.search.open:before {
  height: 60px;
 /* margin: 20px 0 20px 30px;*/
  position: absolute;
}

.search-box {
  width: 200px;
  height: 30px;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding-right: 10px;
}
.search-box:focus {
  outline: none;
}

.search-button {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 4px;
  padding-top: 2px;
  cursor: pointer;
}

.search-icon {
    width: 17px;
    height: 17px;
    border-radius: 40px;
    border: 3px solid #FFF;
    display: block;
    position: relative;
    margin-left: 5px;
    transition: all 0.5s ease;
  }
.search-icon:before {
    content: '';
    width: 4px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 11px;
    display: block;
    background-color: #FFF;
    transform: rotate(38deg);
    transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #FFF;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
}
.open .search-icon:before {
  transform: rotate(52deg);
    right: 5px;
    top: 5px;
    height: 9px;
}
.open .search-icon:after {
    transform: rotate(-230deg);
    right: 5px;
    top: 0px;
    height: 9px;
}
/*main show of main page Start*/
.details
{
  float: right;
}
.item-dach i
{
  float: left;
  font-size: 50px;
}
/*main show of main page End*/
/*content*/
.text-muted
{
  font-size: 19px;
  color: #28343a;
}
.all
{
  margin-bottom: 20px;
  border: 1px dashed #28343a;
  box-shadow: 3px 2px 7px #CCC;
  padding: 20px 0 0;
}
.all li
{
  width: 100%;
  padding-left: 0;
  margin-bottom: 15px;
}
/*list of users Start*/
.delete
{
  margin-right: 20px;
  margin-bottom: 20px;
}
.pointer
{
  cursor: pointer;
}
/*list of users End*/
/*Edite Error*/
.marge
{
  margin-top: 20px;
}
/*Edit Error*/
.hea-lg
{
  font-size: 18px;
  margin-left: 3px;
}
.sahh
{
  padding-right: 20px;
  line-height: 2;
}
.fstElement {
    display: block !important;
}
.fstMultipleMode .fstControls {
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: right !important;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: auto !important;
    left: 12px;
}
.tablecontainer{
    display: block;
    overflow-x: scroll;
}
.media{
    padding: 10px !important;
}
.suspended-user-form button{
    padding: 8px 15px;
    background: transparent;
    border: none;
    text-align: right;
    display: block;
    width: 100%;
}
.suspended-user-form:hover{
    background-color: #f5f5f5;
}
.dashboard-img{
    background: #ddd;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 200px;
}
.footer.text-muted {
    font-size: 14px;
}
table thead th{
    background-color: #00BCD4!important;
    color: #fff!important;
    font-weight: bold;
}
.panel-body-item {
    padding: 0px 10px 12px;
    font-weight: bold;
}
.panel-body-item button{
    margin-left: 10px;
}
.btn-trans{
    white-space: nowrap;
    background-color: transparent;
    border: none;
}