/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #64bd63;
}

input:focus + .slider {
    box-shadow: 0 0 1px #64bd63;
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.checkbox-hai label input {
    margin-left: 10px;
}
.checkbox-hai label input:after {
    position: absolute;
    content: "";
    display: block;
    border: 2px solid #00ACC1;
    width: 17px;
    height: 17px;
    background-color: #fff;
    color: #00838F !important;
}
.checkbox-hai label input:checked:after {
    content: "\e600";
    font-family: 'icomoon';
}